/* ## Colors

### Primary

- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

### Neutral

- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%) */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: 0;
}

.container {
    /* border: 1px solid red; */
    height: 100vh;
    display: grid;
    /* grid-template-columns: 10% 1fr 5% 1fr 5% 1fr 10%; */
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
    grid-template-rows: repeat(6, 1fr) 5%;
    gap: 20px;
    /* background-color: aqua; */
    grid-template-areas: ". title title title ."
                         ". sometext sometext sometext ."
                         ". . red . ."
                         ". cyan red blue ."
                         ". cyan yellow blue ."
                         ". . yellow . ."
}

.title {
    grid-area: title;
    justify-self: center;
}

.title h1 {
    font-weight: 200;
    /* font-size: 1em; */
    color: hsl(229, 6%, 66%);
}

.title .subTitle {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

.someText {
    font-size: .9em;
    max-width: 450px;
    color: hsl(229, 6%, 66%);
    grid-area: sometext;
    justify-self: center;
    text-align: center;
}

.card {
    border: 1px solid black;
    padding: 20px 30px;
    width: 250px;
    /* height: 170px; */
    position: relative;
    border-radius: 5px;
    box-shadow: 5px 10px 5px;
    box-shadow: 0 0 10px 5px #dde5f0;
    border: none;
}

.card p {
    font-weight: 600;
    font-size: 1.3em;
    margin: 5px 0;
}
.card span {
    color: hsl(229, 6%, 66%);
    font-size: .8em;
}

.img-container {
    position: absolute;
    bottom: 0;
    right: -10px;
}

.img-container img {
    max-width: 40px;
}

.red {
    border-top: 5px solid hsl(0, 78%, 62%);
    grid-area: red;
}

.cyan {
    border-top: 5px solid hsl(180, 62%, 55%);
    grid-area: cyan;
}

.yellow {
    border-top: 5px solid hsl(34, 97%, 64%);
    grid-area: yellow;
}

.blue {
    border-top: 5px solid hsl(212, 86%, 64%);
    grid-area: blue;
}

@media screen and (max-width: 375px) {
    .container {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 70px 30px;
    }

    .title {
        font-size: .8em;
        /* margin-top: 40px; */
        margin-bottom: 0;
    }

    .someText {
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 70px;
    }

    .card {
        height: 150px;
        margin-bottom: 30px;
    }

}